<!-- Cabecera -->
<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Categoria de Articulos
  </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
         <ion-icon color="primary" slot="icon-only"  name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon color="primary" slot="icon-only"  name="receipt"></ion-icon>
     </ion-button>
      <ion-button  >
         <ion-icon color="primary" slot="icon-only"  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido Listar -->
<ion-content>

  <ion-list *ngFor="let ListCategorias of categorias">
    <ion-item>
      <ion-label>{{ListCategorias.cat_descripcion}}</ion-label>
      <ion-button color="success" (click)="updateCategoria(ListCategorias.cat_id); enableNewCategoria = true" ><ion-icon name="pencil-sharp" ></ion-icon></ion-button>
      <ion-button color="danger" class="eliminar"
      (click)="borrarCategorias(ListCategorias.cat_id)" ><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <div style="margin-top: 20px;"></div>
</ion-content>


<!-- Agregar y actualizar -->

<ion-content>
  <div style="text-align: end; margin: 10px;">
    <ion-button  (click)="enableNewCategoria = true"  class="normal" color="tertiary" shape="round" expand="full" block> Nuevo</ion-button>
  </div>
<div *ngIf="enableNewCategoria">
  <ion-item >
    <ion-buttons slot="end">
      <ion-button name="limpiar" (click)="enableNewCategoria = false ; limpiar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
       <ion-button (click)="guardarCategoria() ">
        <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-item>

  <h3 class="subtitulo encabezado">Ingrese datos de la categoria</h3>

  <ion-item>
    <ion-label   class="normal" position="floating">
        Descripcion:
    </ion-label>
    <ion-input [(ngModel)]="newCategoria.cat_descripcion" class="normal" type="text" inputmode="text">
    </ion-input>
  </ion-item>



</div>


</ion-content>
