<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      myList
  </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
         <ion-icon color="primary" slot="icon-only"  name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon color="primary" slot="icon-only"  name="receipt"></ion-icon>
     </ion-button>
      <ion-button  >
         <ion-icon color="primary" slot="icon-only"  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img
          src="https://1.bp.blogspot.com/-O3BQY2jJjxk/UF-3el4XveI/AAAAAAAAGR4/QNkjvS9zHKk/s1600/dinamicas+gatito.jpg"
        />
      </ion-avatar>

      <h2>Lista de compras</h2>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-item>
      <ion-label>Pan</ion-label>
      <ion-button color="success"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
      <ion-checkbox checked=""></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Manteca</ion-label>
      <ion-button color="success"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
      <ion-checkbox value="rust"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <div style="margin-top: 20px;"></div>
      <ion-button color="tertiary" shape="round" expand="full" block>¡Agregar!</ion-button>
  </ion-list>
</ion-content>
