<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title><strong>Registro de Articulo</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="registroarticulo" (ngSubmit)="guardarArticulo()">
    <ion-card>
      <ion-card-content>
        <ion-label class="texttitle"><strong>Complete los datos del articulo</strong>
        </ion-label>

        <ion-item>
          <ion-label position="floating">Descripcion:</ion-label>
          <ion-input type="text" formControlName="descripcion" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio:</ion-label>
          <ion-input type="text" formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Categoria ID:</ion-label>
          <ion-input type="text" formControlName="categoria"
          ></ion-input>
        </ion-item>


      </ion-card-content>
      <ion-button class="btnguardar" type="submit"  [disabled]="!registroarticulo.valid" ><ion-icon name="checkmark"></ion-icon> </ion-button>
      <ion-button class="btncancelar" [routerLink]="'/articulos'"> <ion-icon name="close" ></ion-icon> </ion-button>
    </ion-card>
  </form>
</ion-content>
